<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fried Chicken Recipe</title>
  <meta charset="UTF-8">
</head>

<body>
  <h1>Fried Chicken Recipe</h1>
  <p>Try the Assumpta fried chicken recipe!</p>
  <h2>Ingredients</h2>
  <ul>
    <li>1 kg of chicken</li>
    <li>250 ml of buttermilk</li>
    <li>250 grams all- purpose flour</li>
    <li>1 litre of cooking oil</li>
    <li>salt</li>
    <li>paprika</li>
    <li>black pepper</li>
  </ul>
  <h2>Instructions</h2>
  <ol>
    <li>Cut the chicken into pieces</li>
    <li>Place the chicken in a bowl,add salt and buttermilk </Li>
    <li>Marinate for atleast 4hours for best results</li>
    <li>In a separate bowl,whisk together the flour,salt,paprika and black pepper</li>
    <li>Remove chicken pieces from the buttermilk and coat them in the seasoned flour mixture</li>
    <li>Heat oil in a large pot to medium heat until it sizzles and then carefully add the coated chicken pieces</li>
    <li>Fry until golden brown and cooked through,then remove to a cooking rack to drain excess oil before serving</li>
    <li>Serve while hot</li>
    </body>
   </html>
    <img src="https://cdn.freecodecamp.org/curriculum/labs/recipe.jpg" alt="A platter of freshly fried chicken with a crunchy textured crust">