{% extends 'gov.html' %}
{% block page_title %}Group Registration Requirements{% endblock %}
{% block breadcrumb %}Group Registration Requirements{% endblock %}
{% load static %}
{% block content %}
<h2>Group Registration Requirements</h2>
{% if user.is_staff or user.is_superuser %}
    <a href="{% url 'cdmis:create_requirement' %}" class="btn btn-success mb-3">Add Requirement</a>
{% endif %}
<a href="{% url 'cdmis:download_requirements_word' %}" class="btn btn-info mb-3">Download Requirements (Word)</a>
<ul class="list-group">
    {% for req in requirements %}
        <li class="list-group-item">
            <strong>{{ req.title }}</strong>: {{ req.description }}
        </li>
    {% empty %}
        <li class="list-group-item">No requirements found.</li>
    {% endfor %}
</ul>
{% endblock %}