.navbar {
    background-color: #28a745 !important;
    /* Custom green color */
}

.card-header {
    background-color: #28a745 !important;
    /* Custom green color */
}

#site-name {
    color: #28a745 !important;
    /* Custom green color */
}